.books {
  height: 100vh;
  width: 100%;
  transition: transform 2.5s;
  &__card {
    background-image: url("../assets/beige.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 30%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    &:hover {
      transform: scale(0.9);
    }
  }

  &__name {
    text-align: center;
    padding-top: 40%;
    color: black;
    font-size: 20px;
    font-weight: 700;
  }
}

.books__card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .books__card-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .books__card {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .books__card-list {
    display: grid;
    grid-template-columns: auto auto;
  }
  .books__card {
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .books__card-list {
    display: grid;
    grid-template-columns: auto;
  }
}
